
header {
    background-color: darkblue;
    padding: 10px;
    text-align: left;
    position: fixed; /* Fixed at the top */
    width: 100%; /* Full width */
    z-index: 1; /* Make sure it appears above other content */
  }
header h1 {
    font-weight: bold; /* Make the text bold */
    color: white; /* Set the text color to dark blue */
    margin: 0; /* Remove any default margins */
}

.nav-bar {
    background-color: lightblue;
    width: 15%;
    position: fixed; /* Fixed on the left side */
    height: 100%;
    overflow: auto; /* Enable vertical scrolling if needed */
    padding-top: 50px;
  }
  
  /* Style the main menu items */
  .nav-item {
    font-weight: bold;
    list-style: none;
    cursor: pointer;
    padding: 10px;
    position: relative;
  }
  
  /* Style the submenu items */
  .sub-menu {
    display: none; /* Hide submenu by default */
    padding-left: 20px; /* Indent the submenu items */
    left: 100%; /* Move submenu to the right of the main menu item */
    top: 0;
  }

  nav-item::before {
    content: '▶'; /* Use arrow character */
    position: absolute;
    left: 5px; /* Adjust the arrow's position */
  }

.content {
    margin-left: 17%; /* Adjust margin-left to match the navigation bar's width */
    padding: 20px; /* Add some padding to separate content from the fixed header */
    padding-top: 50px;
    overflow-y: scroll;
}

h1 {
color: #333;

}
h2 {
    color: #666;
}
ol {
    list-style-type: lower-alpha;
    margin-left: 20px;
}
li {
    margin-bottom: 10px;
}
p {
    margin: 5px 0;
}
code {
    background-color: #f4f4f4;
    padding: 2px 5px;
    border-radius: 3px;
    font-family: monospace;
}